@charset "UTF-8";

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
    format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Pretendard-SemiBold';
  word-break: keep-all;
  word-wrap: break-word;
  overflow-x: hidden;
}
.mobile {
  display: none;
}
.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
}

.menu-bar > div {
  display: flex;
  max-width: 1280px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  height: 72px;
}

main {
  margin: 0 auto;
  padding-top: 172px;
  box-sizing: border-box;
  max-width: 1280px;
}

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 상단 메뉴바 */
.menu-bar {
  height: 72px;
  border-bottom: 1px solid #eee;
}

.menu-bar__title {
  width: 15%;
}

.menu-bar__logo {
  width: 95px;
}

.menu-bar__menu {
  display: flex;
}

.menu-bar__menu li {
  font-size: 16px;
}

.menu-bar__menu li a {
  padding: 10px 28px;
}

.menu-bar__side button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background: none;
  margin: 0 6px;
}

.menu-bar__side button img {
  width: 20px;
  height: 20px;
}

/* hover */
.menu-bar__menu:hover {
  color: #999;
}

.menu1:hover {
  color: black;
}

.menu2:hover {
  color: black;
}

.menu3:hover {
  color: black;
}

.menu4:hover {
  color: black;
}

.menu-bar__side button:hover {
  background-color: #eee;
}

.card:hover {
  box-shadow: 1px 10px 12px 9px rgba(0, 0, 0, 0.08);
  transform: translateY(-10px);
}

/* 메인 헤더 */
h3 {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.5em;
}

.tit-date {
  background: url(img/ico_date.gif) no-repeat;
  background-size: 72px 72px;
}

.tit-main em {
  display: block;
  padding-left: 80px;
  line-height: 70px;
}

.tit-main {
  margin-bottom: 90px;
}

/* 카드 섹션 시작 */

.card-main__tit {
  position: relative;
  padding: 25px 24px 0;
}

.card-mid__tit {
  padding: 25px 24px 0;
}

.card-mid strong {
  display: block;
  margin-top: 20px;
  max-height: 92px;
  font-size: 23px;
  line-height: 32px;
  letter-spacing: -1px;
  height: 70px;
}

.card-mini {
  width: 295px;
  max-height: 230px;
}

.card-mini__tit {
  padding: 25px 24px 0;
}

.card-main header ~ a img,
.card-mid header ~ a img,
.card-mini header ~ a img {
  width: 100%;
}

.alarm {
  height: 36px;
}

.alarm-icon {
  width: 36px;
  height: 36px;
}

.alarm-text {
  display: inline-block;
  position: relative;
  background-color: #eeeeee;
  top: -15px;
  padding: 12px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 13px;
}

.alarm-text::before {
  content: '';
  position: absolute;
  background: url(img/chat.svg);
  top: 0;
  left: -4px;
  width: 16px;
  height: 16px;
}

.more {
  float: right;
  margin-top: 6px;
  margin-right: -10px;
  color: #ccc;
  font-size: 1.3em;
}

.keyword-wrap {
  height: 60px;
  overflow: hidden;
}

.keyword {
  display: inline-block;
  font-family: 'Pretendard-Light';
  font-size: 14px;
  line-height: 60px;
  color: grey;
}

.keyword-wrap__mini .keyword {
  margin-bottom: 20px;
}

/* 그리드 */

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 295px);
  grid-auto-rows: minmax(auto, 190px);
  gap: 30px;
}

.item {
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

.item:hover {
  box-shadow: 1px 10px 12px 9px rgba(0, 0, 0, 0.08);
  transform: translateY(-10px);
}

.main-item {
  position: sticky;
  top: 109px;
  height: 700px;
  width: 620px;
  box-sizing: border-box;
}

.main-item strong {
  display: block;
  margin-top: 20px;
  max-height: 92px;
  height: 92px;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: -1px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.container .main {
  grid-column: 1 / 3;
  grid-row: span 4;
}

.grid-double {
  grid-row: span 2;
}

.grid-single {
  grid-row: span 1;
}

/* 큰 카드 섹션 */
.culture-wrap {
  margin-top: 30px;
  box-sizing: border-box;
}

.card.card-big:hover {
  transform: none;
  box-shadow: 10px 10px 20px 15px rgba(0, 0, 0, 0.05);
}

.card-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
  padding: 54px 66px 50px;
  width: 1138px;
}

.card-big strong {
  font-family: 'Pretendard-SemiBold';
  font-size: 42px;
}

.sub-item__tit {
  margin-top: 20px;
  font-size: 22px;
  line-height: 32px;
}

.sub-item-mini__tit {
  display: block;
  margin-top: 12px;
  max-height: 62px;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: -1px;
}

.card-big br {
  display: none;
}

.culture-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  width: 175px;
  height: 40px;
  vertical-align: center;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-size: 14px;
  text-align: center;
}

.culture-link i {
  display: inline-block;
  margin: 0 -2px 0 3px;
  font-size: 25px;
}

.card-img {
  margin-top: 50px;
  width: 900px;
}

.card-img-s {
  width: 0;
  height: 0;
}

.num-info {
  margin-top: 32px;
  display: flex;
  align-items: center;
  color: #ff3b3b;
  font-size: 14px;
}

.str-big {
  display: inline-block;
  max-height: 38px;
  font-size: 43px;
  line-height: 32px;
  height: 38px;
  position: relative;
  color: black;
}

.up {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 8px solid red;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 0 5px 0 10px;
}

/* 그리드섹션2 시작 */

.container--second {
  display: flex;
  margin-bottom: 30px;
}

.card-wrap {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 295px);
  grid-auto-rows: minmax(auto, 190px);
  gap: 30px;
}

.container--second .main {
  flex: 1;
  padding-left: 26px;
}

.card__tit--cus {
  display: inline-block;
  margin-left: 24px;
  overflow: visible;
  position: relative;
  height: auto;
  margin-top: 13px;
  padding: 8px 20px 8px 25px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  background-color: #fee102;
}

.card__tit--cus::before {
  content: '';
  position: absolute;
  background: url(img/chat-yellow.svg);
  top: 0;
  left: -4px;
  width: 18px;
  height: 18px;
}

.card__list--cus {
  margin: 12px 24px 0;
}
.card__list--cus > li {
  display: inline-block;
  height: 42px;
  padding: 0 20px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 42px;
  color: #666;
  background-color: #f4f4f4;
}

.container--third {
  display: flex;
  justify-content: space-between;
  padding-right: 7px;
}
.container--third div {
  width: 620px;
}
.item-etc {
  display: inline-block;
  height: 360px;
  width: 100%;
  padding: 36px 36px 0;
  border-radius: 12px;
  box-sizing: border-box;
  background: no-repeat calc(100% - 40px) calc(100% - 40px);
}

.item-etc.card1 {
  background-color: #fae100;
  background-image: url(/img/idea.png);
  background-size: 160px 160px;
}
.item-etc.card2 {
  background-color: #3c64ff;
  background-image: url(/img/friend-cloud.png);
  background-size: 260px 160px;
}

.item-etc strong {
  display: block;
  margin-top: 20px;
  max-width: 430px;
  max-height: 92px;
  height: 92px;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: -1px;
}

.item-etc .etc-shortcut {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  width: 175px;
  height: 40px;
  vertical-align: center;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-size: 14px;
  text-align: center;
}

.etc-shortcut i {
  display: inline-block;
  margin: 0 -2px 0 3px;
  font-size: 25px;
}
.icon-rotate {
  display: inline-block;
  transform: rotate(-45deg);
  font-size: 20px;
  vertical-align: -2px;
}

.more-news {
  display: block;
  width: 260px;
  height: 60px;
  margin: 84px auto 0;
  border-radius: 60px;
  font-size: 18px;
  line-height: 60px;
  color: #000;
  background-color: #eee;
  text-align: center;
}

.link-top {
  display: block;
  box-sizing: border-box;
  float: right;
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
  color: #fff;
  line-height: 24px;
  padding-top: 10px;
  border: none;
  cursor: pointer;
}
/* footer */
.footer {
  padding: 0 92px;
  margin-top: 182px;
  border-top: 1px solid #ebebeb;
  height: 500px;
}

.link-lists {
  display: flex;
  width: 1296px;
  margin: 0 auto;
  padding: 37px 0 48px;
}

.link-lists > div {
  width: 16.666%;
  line-height: 20px;
  letter-spacing: -0.2px;
  font-size: 14px;
  /* background-color: pink; */
}

.tit-link {
  position: relative;
}

.tit-link:hover::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffcd00;
  vertical-align: top;
  position: absolute;
  top: 5px;
  left: -16px;
}

.ul-link li {
  font-family: 'Pretendard-Light';
  margin-top: 12px;
  color: #888;
}

.ul-link li:hover {
  color: #111;
}

.tit-link--single {
  display: block;
  margin-top: 36px;
}

.tit-link--single:hover::before {
  top: 9px;
}

/* 푸터 하단 */
.section-relation {
  display: flex;
  justify-content: space-between;
  width: 1296px;
  font-size: 12px;
  margin: 120px auto 0;
}
.group-info {
  display: flex;
  justify-content: space-between;
  width: 892px;
  font-family: 'Pretendard-Light';
  color: #888;
}

.group-info > span:hover {
  color: #333;
}
details {
  display: inline-block;
  position: relative;
}
details > summary {
  list-style: none;
  cursor: pointer;
}
summary > strong {
  font-family: 'Pretendard-SemiBold';
  color: #333;
}

details > ul {
  position: absolute;
  padding: 0px 18px 12px;
  bottom: 53px;
  background-color: #eee;
  border-radius: 12px;
  white-space: nowrap;
  color: #666;
  font-size: 12px;
  font-family: 'Pretendard-SemiBold';
}

.rel-site summary {
  display: block;
  padding: 10px 20px 12px;
  box-sizing: border-box;
  width: 208px;
  border-radius: 24px;
  color: #000;
  background-color: #eee;
  line-height: 18px;
  letter-spacing: -0.2px;
}
.rel-site summary::after {
  content: '+';
  font-size: 33px;
  font-family: 'Pretendard-Light';
  color: #666;
  line-height: 12px;
  float: right;
}
.rel-site summary::after {
  content: '+';
  font-size: 33px;
  font-family: 'Pretendard-Light';
  color: #666;
  line-height: 12px;
  float: right;
}

details[open] summary::after {
  transform: rotate(-45deg);
  font-size: 40px;
}

details[open] summary i {
  display: inline-block;
  transform: rotate(180deg);
}

.rel-site > ul {
  box-sizing: border-box;
  width: 208px;
}

details > ul > li {
  margin-top: 10px;
}

.mt {
  margin: 15px 0 13px;
}
details[open] summary {
  color: #333;
}
summary:hover {
  color: #333;
}
summary i {
  margin-left: 3px;
  font-size: 10px;
}
.copyright {
  display: block;
  width: 1296px;
  margin: 0 auto;
  font-size: 12px;
  color: #888;
  clear: both;
}

@media (max-width: 1430px) {
  main {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 950px;
  }

  .container .main {
    grid-row: span 8;
  }

  .card-big {
    width: 811px;
  }
}

@media (max-width: 1110px) {
  main {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 650px;
  }

  .container .main {
    grid-row: span 1;
  }

  .main-item {
    position: static;
  }

  .container {
    grid-template-rows: 700px;
    grid-auto-rows: minmax(190px, 190px);
  }

  .card-big {
    width: 486px;
  }

  .card-img {
    margin-top: 50px;
    width: 0;
    height: 0;
  }

  .card-img-s {
    width: 420px;
    height: 420px;
  }

  .card-big strong {
    font-size: 36px;
    text-align: center;
  }

  .card-big br {
    display: block;
  }
  .card-wrap {
    order: 2;
  }
  .container—second .main {
    order: 1;
  }
  .container—second {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .pc-web {
    display: none;
  }
  .mobile {
    display: inline-block;
  }
  .menu-bar__menu {
    display: none;
  }
  .menu-bar > div {
    max-width: 412px;
  }
  .menu-bar__logo {
    margin-left: 15px;
  }
  .btn4 a img {
    position: relative;
    top: 1px;
    width: 22px;
    height: 22px;
  }
  main {
    max-width: 412px;
  }
  .tit-main {
    max-width: 412px;
  }
  .tit-date {
    font-size: 30px;
    background-size: 36px 36px;
  }

  .tit-main em {
    padding-left: 50px;
    line-height: 40px;
  }

  /* 그리드 */
  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 364px);
    grid-auto-rows: minmax(auto, 220px);
    gap: 30px;
  }

  .container .main {
    grid-column: 1 / 2;
    grid-row: span 2;
  }

  .main-item {
    height: 364px;
    width: 440px;
    box-sizing: border-box;
  }

  .culture-wrap,
  .container--second,
  .container--third {
    display: none;
  }
  footer {
    display: none;
  }
}
